.react-logo{
  width: 4rem;
  fill: #61dafb;
  margin: 0 .5rem;
  transition: transform 0.2s;
  &:hover {
    filter: drop-shadow(0 0 5px #61dafb);
    animation: rotate 3.5s linear infinite, neon-glow infinite alternate;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes neon-glow {
  0% {
    filter: drop-shadow(0 0 2px #61dafb);
  }
}

.rails-logo .st0{
  fill:#CC0000
}

.rails-logo{
  width: 6rem;
  margin: 0 .5rem;
}


.rails-logo path.rails-drawing {
  transition: transform 0.5s ease-in-out;
}

.rails-logo path.rails-text {
  transition: transform 0.5s ease-in-out;
}

.rails-logo:hover path.rails-drawing {
  animation: grow-shrink 1s infinite;
}

.rails-logo:hover path.rails-text {
  animation: shrink-grow 1s infinite;
}

@keyframes grow-shrink {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes shrink-grow {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
}

.user-icon{
  fill: #ffffff;
  width: 4rem;
  margin: 0 .5rem;
  transition: transform 0.4s;
  &:hover {
    animation: rotate-slightly 1.5s infinite;
  }
}

@keyframes rotate-slightly {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-37deg); /* Cambia el valor según tus preferencias */
  }
  100% {
    transform: rotate(0deg);
  }
}

.user-icon:hover, .react-logo:hover, .rails-logo:hover{
  cursor: pointer;
}

.social-media-icon{
  color: #ffffff;
  margin: 0 .5rem;
  text-decoration: none;
  font-size: 2rem;
}

.social-media-icon:hover{
  color: rgb(193, 193, 193);
}


.home-page.index {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home-page.index .container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.btn-fq{
  border: 1px solid #d971ff;
  color:  #d971ff;
  padding: .5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1.5rem;
}

.btn-fq:hover{
  border: 1px solid white;
  color:  white;
}



// Estilos cards

.project-card {
  max-width: 300px;
  margin: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease; // Agrega transición suave

  &:hover {
    transform: scale(1.05); // Agranda la card
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Agrega sombra
  }
  a{
    text-decoration: none;
  }
  .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .react{
    background-color:#20232a;
    color: #61dafb;
  }
  .rails{
    background-color: rgb(223, 190, 190);
    color: #CC0000;
  }
}

.card-react{
  border: 2px solid  #61dafb;
}

.card-rails{
  border: 2px solid #CC0000;
}


.rails-project-link{
  color:#CC0000;
  margin: 0 .5rem;
}

.rails-project-link:hover{
  color:#960000;
}

.rails-project-link > i{
  font-size: 1.5rem;
}

.react-project-link{
  color: #61dafb;
  margin: 0 .5rem;
}

.react-project-link:hover{
  color: #ffffff;
}

.react-project-link > i{
  font-size: 1.5rem;
}

@media (min-width: 576px) {
  .social-media-icon{
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .social-media-icon{
    font-size: 1.5rem;
  }
  .project-card{
    width: 220px;
  }

  .card-title{
    font-size: 1rem;
  }

  .profile-text{
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .social-media-icon{
    font-size: 2rem;
  }
  .project-card{
    width: 250px;
  }
  .card-title{
    font-size: 1.2rem;
  }
  .profile-text{
    font-size: 1.4rem;
  }
}
