<div id="profile-info">
  <h1>Facundo Quiroga</h1>
  <p>I started as a self-learner, mastering HTML, CSS, JavaScript, and React. Seeking further growth, I joined Le Wagon's programming bootcamp, focusing on backend development, particularly Ruby and Ruby on Rails. This immersive experience led to my first full-stack project with peers, combining frontend and backend skills. My vision is to integrate both worlds for innovative web solutions combining visual appeal with robust architecture. Throughout, I've embraced challenges, fostering continuous learning and growth in programming.</p>
  <div class="resume-button mt-4">
    <%= link_to 'Resume', '/resume.pdf', class: 'btn-fq', download: "Resume - Facundo Quiroga" %>
  </div>
</div>
